.pcc---footer .bg-dark{
    background-color: #090e18 !important;
    border-radius: 5px;
}
.pcc---footer-menu-icons{
    display: inline-block;
    background-color: #000;
    padding: 7px 7px 4px;
    border-radius: 51px;
    color: #fff;
    margin: 0px 4px;
    border: 2px solid #000;
    transition:  0.5s ease-in-out;
}
.pcc---footer-menu-icons:hover{
    color: #000;
    background-color: #fff;
    transition:  0.5s ease-in-out;
}
.Footer---form{
    border-radius: 5px;
    background-color: rgb(244 246 248 / 0.1);
    height: 41px;
}
.Footer---form .email{
    font-size: 15px;
    /* padding: 5px 10px; */
    border-radius: 5px;
    width: 70%;
    color: #949494;
    background-color: #ffffff;
    border: 0px;
    padding: 2.2% 2%;
    border-radius: 0px;
}
.Footer---form .email:focus{
    border: 0px;
    outline: -webkit-focus-ring-color auto 0px;
}
.Footer---form .submit{
    font-size: 15px;
    padding: 11px 10px;
    border-radius: 5px;
    width: 26%;
    background-color: #000000;
    border: 0px;
    border-radius: 0px;
    color: #ffcc0f;
}
.bg-Yello{
    background-color: #DCB00E;
    box-shadow: 8px 9px 5px #6E5807;
}

.pcc---footer{
    background-image: url(../../img/Bg-footer.jpg);
    background-repeat: no-repeat;
    background-size: 100% 50px;
}
@media only screen and (max-width: 599px){
    .Footer---form .email{
        font-size: 15px;
        border-radius: 5px;
        width: -webkit-fill-available;
        color: #949494;
        background-color: #ffffff;
        border: 0px;
        padding: 5.2% 7%;
        border-radius: 0px;
        margin-bottom: 8px;
    }
    .Footer---form .submit{
        font-size: 15px;
        padding: 11px 10px;
        border-radius: 5px;
        width: 100%;
        background-color: #000000;
        border: 0px;
        border-radius: 0px;
        color: #ffcc0f;
    }
}